<div id="<%= dom_id wine_experience %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tasted on:</strong>
    <%= wine_experience.tasted_on %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= wine_experience.location %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= wine_experience.notes %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Gift?</strong>
    <%= human_boolean(wine_experience.gift) %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= wine_experience.price %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= wine_experience.rating %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Vintage:</strong>
    <%= wine_experience.wine_vintage.vintage %>
  </p>
</div>
