<div id="<%= dom_id wine_vintage %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Vintage:</strong>
    <%= wine_vintage.vintage %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Alcohol:</strong>
    <%= wine_vintage.alcohol %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Likes:</strong>
    <%= wine_vintage.likes %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Wine:</strong>
    <%= wine_vintage.full_name %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this wine vintage", wine_vintage, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this wine vintage", edit_wine_vintage_path(wine_vintage), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
