<div id="<%= dom_id wine %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= wine.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Edition:</strong>
    <%= wine.edition %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Variety:</strong>
    <%= wine.variety %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Winery:</strong>
    <%= wine.winery.name %>
  </p>
</div>
