<div class="flex gap-8 justify-between p-6 px-16 bg-pale_background">
  <div class="flex flex-col gap-2">
    <span class="font-semibold text-dark_green">
      WineXp
    </span>
  </div>
  <div class="flex flex-col gap-2">
    <span class="font-medium">
      Customer Service
    </span>
    <%= link_to "FAQ", "#", class: 'footer-link' %>
    <%= link_to "Orders", "#", class: 'footer-link' %>
    <%= link_to "Payments", "#", class: 'footer-link' %>
    <%= link_to "Contact us", "#", class: 'footer-link' %>
  </div>
  <div class="flex flex-col gap-2">
    <span class="font-medium">
      You
    </span>
    <%= link_to "Sign in", "#", class: 'footer-link' %>
    <%= link_to "Sign up", "#", class: 'footer-link' %>
  </div>
  <div class="flex flex-col gap-2">
    <span class="font-medium">
      About us
    </span>
    <%= link_to "Company", "#", class: 'footer-link' %>
    <%= link_to "Careers", "#", class: 'footer-link' %>
  </div>
</div>
