<div class="flex justify-between bg-pale_background gap-6 p-6">
  <div id="logo_container" class="flex items-center">
    <%= link_to 'WineXp', root_path, class: "font-semibold text-dark_green" %>
  </div>
  <div id="links_container" class="flex gap-6 items-center">
    <%= link_to 'Experiences', experiences_path, class: "menu-link" %>
    <%= link_to 'Wines', wines_path, class: "menu-link" %>
  </div>
  <div id="session_container" class="flex gap-6 items-center">
    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, class: "menu-link" %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: "tertiary-link" %>
      <%= link_to 'Sign in', new_user_session_path, class: "primary-button" %>
    <% end %>
  </div>
</div>
