<!DOCTYPE html>
<html>
  <head>
    <title>WineXpWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col items-center">
    <main class="flex flex-col w-full max-w-[1440px] min-h-screen">
      <%= render partial: 'layouts/header' %>
      <div class="flex flex-1 flex-col gap-8 <%= 'p-16' if controller_name != 'home' %>">
        <%= yield %>
      </div>
      <%= render partial: 'layouts/footer' %>
    </main>
  </body>
</html>
